framework:
  secret: '%env(APP_SECRET)%'
  trusted_proxies: '%env(TRUSTED_PROXIES)%'
  trusted_hosts: '%env(TRUSTED_HOSTS)%'

  session:
    handler_id: 'session.handler.pdo'
    cookie_secure: auto
    cookie_samesite: lax
    storage_factory_id: session.storage.factory.native
    cookie_httponly: true

services:
  session.handler.pdo:
    class: Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler
    arguments:
      - '%env(resolve:DATABASE_URL)%'
