# config/packages/framework.yaml
framework:
    secret: '%env(APP_SECRET)%'

    trusted_proxies: '%env(TRUSTED_PROXIES)%'
    trusted_hosts: '%env(TRUSTED_HOSTS)%'

    session:
        handler_id: session.handler.pdo   # <- dùng handler pdo
        cookie_secure: auto
        cookie_samesite: lax
        cookie_httponly: true
        storage_factory_id: session.storage.factory.native

services:
    # Handler session lưu trong DB, dùng Doctrine connection
    session.handler.pdo:
        class: Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler
        arguments:
            - '@doctrine.dbal.default_connection'
            - { db_table: sessions }
